In [ ]:
Question 1
Consider the following Python module:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?
What value is displayed when the last expression (a) is evaluated? Explain your 
answer by indicating what happens in every executed statement

In [1]:
a = 0
def b():
    global a
    a = c(a)
    print(a)

def c(a):
    return a + 2

b()
b()
b()
print(a)

2
4
6
6

In [ ]:
Q-1 
The value of the last expression when evaluated is 6.
When the function b is executed, it assigns a global variable 'a' having initial value 0. It then executes the function c which it then increments the value by 2 and assigns it's return value back to a, which in this case is 2. This process is repeated 2 more times.

In [ ]:
Question 2
Function fileLength(), given to you, takes the name of a file as input and returns 
the length of the file:
>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory: 
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read 
as a text file, an exception will be raised. Modify function fileLength() so that a 
friendly message is printed instead:
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

In [2]:
def fileLength(get_file_name):

    try:
        get_file = open(get_file_name,"r")
    except FileNotFoundError as e:
        print("The file {0} is either missing from path or the name is incorrect".format(get_file_name))
        return
    read_file = get_file.read()
    print(len(read_file))

fileLength("sam.txt")
fileLength("sam.py")

The file sam.txt is either missing from path or the name is incorrect
The file sam.py is either missing from path or the name is incorrect

In [ ]:
Question 3
Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the 
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the 
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and 
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.
>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)

In [3]:
class Marsupial:

    def __init__(self):
        self.collect_list = []
    def put_in_pouch(self,get_value):
        self.collect_list.append(get_value)
    def pouch_contents(self):
        print(self.collect_list)

class Kangaroo(Marsupial):
    
    def __init__(self,get_x_value,get_y_value):
        super().__init__()
        self.x_value = get_x_value
        self.y_value = get_y_value

    def jump(self,get_x_value,get_y_value):
        self.x_value += get_x_value
        self.y_value += get_y_value
    
    def __str__(self):
        return "I am at Kangaroo located at coordinates ({0},{1})".format(self.x_value,self.y_value)

m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()
k = Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

['doll', 'firetruck', 'kitten']
I am at Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am at Kangaroo located at coordinates (3,0)

In [ ]:
Question 4
Write function collatz() that takes a positive integer x as input and prints the 
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying 
this rule to the previous number x in the sequence:
x = {
洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐뜦n3洧논 + 1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬
Your function should stop when the sequence gets to number 1. Your 
implementation must be recursive, without any loops.
>>> collatz(1)
1
>>> collatz(10)
10
5
16
8
4
2
1

In [ ]:
def collatz(get_value):
    x = get_value
    while x != 1:
        print(x)
        if x % 2 == 0:
            x = int(x / 2)
        else:
            x = int(3 * x + 1)
    print(1)

collatz(10)

In [ ]:
Question 5
Write a recursive method binary() that takes a non-negative 
integer n and prints the binary representation of integer n.
>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

In [4]:
def binary(get_value, binary_representation=""):
    if get_value < 0:
        print("Input must be a non-negative integer.")
        return
    elif get_value == 0:
        if binary_representation == "":
            print(0)
        else:
            print(binary_representation[::-1])
    else:
        remainder = get_value % 2
        binary_representation += str(remainder)
        get_value = int(get_value // 2)
        binary(get_value, binary_representation)

binary(0)
binary(1)
binary(3)
binary(9)

0
1
11
1001

In [ ]:
Write SQL queries on the below database table that return: 
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200 
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20 
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.
City Country Season Temperature 
(C)
Rainfall 
(mm)
Mumbai India Winter 24.8 5.9 
Mumbai India Spring 28.4 16.2 
Mumbai India Summer 27.9 1549.4 
Mumbai India Fall 27.6 346.0 
London United Kingdom Winter 4.2 207.7 
London United Kingdom Spring 8.3 169.6 
London United Kingdom Summer 15.7 157.0 
London United Kingdom Fall 10.4 218.5 
Cairo Egypt Winter 13.6 16.5 
Cairo Egypt Spring 20.7 6.5 
Cairo Egypt Summer 27.7 0.1 
Cairo Egypt Fall 22.2 4.5

In [ ]:
#a. All the temperature data.

SELECT temperature FROM weather_data;

In [ ]:
#b. All the cities, but without repetition.

SELECT DISTINCT city FROM weather_data;

In [ ]:
#c. All the records for India.

SELECT * FROM weather_data WHERE country = 'India';

In [ ]:
#d. All the Fall records.

SELECT * FROM weather_data WHERE season = 'Fall';

In [ ]:
#e. The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

SELECT city, country, season
FROM weather_data
GROUP BY city, country, season
HAVING AVG(rainfall) BETWEEN 200 AND 400;

In [ ]:
#f. The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

SELECT city, country
FROM weather_data
WHERE season = 'Fall'
GROUP BY city, country
HAVING AVG(temperature) > 20
ORDER BY AVG(temperature) ASC;

In [ ]:
#g. The total annual rainfall for Cairo.

SELECT SUM(rainfall) AS total_annual_rainfall
FROM weather_data
WHERE city = 'Cairo';

In [ ]:
#h. The total rainfall for each season.

SELECT season, SUM(rainfall) AS total_rainfall
FROM weather_data
GROUP BY season;

In [ ]:
Question 9
. Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following 
lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 
'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 
'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list 
words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], 
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list 
words, where each list contains the word in uppercase and lowercase and the 
length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 
'lazy', 'dog'] (the list of words in list words containing 4 or more 
characters.)

In [5]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
uppercase_words = [word.upper() for word in words]
lowercase_words = [word.lower() for word in words]
word_lengths = [len(word) for word in words]
word_info = [[word.upper(), word.lower(), len(word)] for word in words]
four_or_more_characters = [word for word in words if len(word) >= 4]
print("a.", uppercase_words)
print("b.", lowercase_words)
print("c.", word_lengths)
print("d.", word_info)
print("e.", four_or_more_characters)

a. ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
b. ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
c. [3, 5, 5, 3, 5, 4, 3, 4, 3]
d. [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
e. ['quick', 'brown', 'jumps', 'over', 'lazy']